In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [3]:
visa_df=pd.read_csv(r"C:\Users\surya\NareshIT\ EDA_python\Visadataset - Visadataset.csv")
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [4]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [5]:
visa_df.head(2)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified

In [6]:
visa_df.sample()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
13357,EZYV13358,Asia,Master's,Y,N,601,1998,Midwest,87628.76,Week,Y,Certified

In [7]:
noe_df=visa_df[['no_of_employees']]
noe_ser=visa_df['no_of_employees']
noe_df

       no_of_employees
0                14513
1                 2412
2                44444
3                   98
4                 1082
...                ...
25475             2601
25476             3274
25477             1121
25478             1918
25479             3195

[25480 rows x 1 columns]

In [8]:
noe_ser

0        14513
1         2412
2        44444
3           98
4         1082
         ...
25475     2601
25476     3274
25477     1121
25478     1918
25479     3195
Name: no_of_employees, Length: 25480, dtype: int64

- len
- min
- max
- mean
- median
- sd
- 75%
- 50%
- 25%

- len

In [9]:
len(noe_ser)# py

25480

In [10]:
min(noe_ser)#py

-26

In [11]:
max(noe_ser)#py

602069

In [12]:
np.min(noe_ser)#np

-26

In [13]:
np.max(noe_ser)#np

602069

In [14]:
#pd
(noe_ser).max()

602069

In [15]:
#pd
noe_mean=(noe_ser).mean()
noe_mean

5667.043210361067

In [16]:
#np
np.mean(noe_ser)

5667.043210361067

- meadian

In [17]:
#pd
(noe_ser).median()

2109.0

In [18]:
#np
np.median(noe_ser)

2109.0

- standar Deviation

In [19]:
noe_std=(noe_ser).std()
noe_std

22877.928847734398

In [20]:
noe_ser.describe()

count     25480.000000
mean       5667.043210
std       22877.928848
min         -26.000000
25%        1022.000000
50%        2109.000000
75%        3504.000000
max      602069.000000
Name: no_of_employees, dtype: float64

In [21]:
np.std(noe_ser)

22877.479904380365

**percentile and quqntile**

- it describe the how much percent people below
- for ex 50 percentile
- it mean 50 % people below the 50 percentile value

**percentile**

In [22]:
noe_50=round(np.percentile(visa_df['no_of_employees'],50),2)
#noe_50=(np.percentile(noe_ser,50),2) #works
noe_25=round(np.percentile(visa_df['no_of_employees'],25),2)
noe_75=round(np.percentile(visa_df['no_of_employees'],75),2)
print(f'25% data is {noe_25}')
print(f'50% data is {noe_50}')
print(f'75% data is {noe_75}')

25% data is 1022.0
50% data is 2109.0
75% data is 3504.0

**quqntile**

In [23]:
noe_25=round(np.quantile(visa_df['no_of_employees'],0.25),2)
noe_50=round(np.quantile(visa_df['no_of_employees'],0.50),2)
noe_75=round(np.quantile(visa_df['no_of_employees'],0.75),2)
print(f'data is : {noe_25}')
print(f'data is : {noe_50}')
print(f'data is : {noe_75}')

data is : 1022.0
data is : 2109.0
data is : 3504.0

**understanding the percentile**
- defination
- there are 25%

In [24]:
con=visa_df['no_of_employees']<noe_25
visa_df[con]
len(visa_df[con])

6367

In [ ]:
25*25480/100

**Empirical Rule**
- 68-95-99.7

In [26]:
#68
v1=noe_mean-1*noe_std
v2=noe_mean+1*noe_std
con1=visa_df['no_of_employees']>v1
con2=visa_df['no_of_employees']<v2
count1=len(visa_df[con1&con2])
count1,v1,v2

(24674, -17210.88563737333, 28544.972058095467)

In [28]:
#to check how much ngative values are present
c=visa_df['no_of_employees']<0
len(visa_df[c])

33

In [29]:
#95
v1=noe_mean-2*noe_std
v2=noe_mean+2*noe_std
con1=visa_df['no_of_employees']>v1
con2=visa_df['no_of_employees']<v2
count1=len(visa_df[con1&con2])
count1,v1,v2

(24915, -40088.81448510773, 51422.90090582986)

In [30]:
#99.7
v1=noe_mean-3*noe_std
v2=noe_mean+3*noe_std
con1=visa_df['no_of_employees']>v1
con2=visa_df['no_of_employees']<v2
count1=len(visa_df[con1&con2])
count1,v1,v2

(25051, -62966.74333284213, 74300.82975356426)