**Numerical analysis**

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
visa_df=pd.read_csv('Visadataset - Visadataset.csv')
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [14]:
columns=visa_df.select_dtypes(exclude='object').columns
columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [15]:
cols=('no_of_employees', 'yr_of_estab', 'prevailing_wage')

In [18]:
len(visa_df['yr_of_estab'])

25480

In [19]:
min(visa_df['yr_of_estab'])

1800

In [20]:
max(visa_df['yr_of_estab'])

2016

In [22]:
round(np.mean(visa_df['yr_of_estab']),2)

1979.41

In [24]:
round(np.median(visa_df['yr_of_estab']),2)

1997.0

In [25]:
round(np.std(visa_df['yr_of_estab']),2)

42.37

In [28]:
y_25p=round(np.percentile(visa_df['yr_of_estab'],25),2)
y_50p=round(np.percentile(visa_df['yr_of_estab'],50),2)
y_75p=round(np.percentile(visa_df['yr_of_estab'],75),2)
y_25p,y_50p,y_75p

(1976.0, 1997.0, 2005.0)

In [42]:
con=visa_df['yr_of_estab']<1976
len(visa_df[con])

6472

In [48]:
cols=('no_of_employees', 'yr_of_estab', 'prevailing_wage')
l1=[]
for i in cols:
    countt=round(len(visa_df[i]),2)
    minn=round(visa_df[i].min(),2)
    maax=round(visa_df[i].max(),2)
    mean=round(visa_df[i].mean(),2)
    median=round(visa_df[i].median(),2)
    std=round(visa_df[i].std(),2)
    ########################################################
    p_25=round(np.quantile(visa_df[i],0.25),2)
    p_50=round(np.quantile(visa_df[i],0.50),2)
    p_75=round(np.quantile(visa_df[i],0.75),2)  
    l1.append([countt,minn,maax,mean,median,std,p_25,p_50,p_75])
index_val=['count','min','max',
           'mean','median','std',
           '25%','50%','75%']
df=pd.DataFrame(l1,columns=index_val,index=cols)
df

,count,min,max,mean,median,std,25%,50%,75%
no_of_employees,25480,-26.00,602069.00,5667.04,2109.00,22877.93,1022.00,2109.00,3504.00
yr_of_estab,25480,1800.00,2016.00,1979.41,1997.00,42.37,1976.00,1997.00,2005.00
prevailing_wage,25480,2.14,319210.27,74455.81,70308.21,52815.94,34015.48,70308.21,107735.51